# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ------ |
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

# This is a simple arithmetic expression to multiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Describe commonly used libraries in Data Science
- Understand how to use basic arithmetic expressions in Python

## Author
Mark Simmons